#!/usr/bin/env bash

# Reload if any of these files change
watch_file nix/*
watch_file .envrc.local

# Build a folder that contains all the tools
nix-build ./nix -A env --out-link ./env

# source .profile from `$env`.
# This is only used to set things interpolated by nix.
# All *static* things should live inside .envrc.
source_env ./env/.profile

# allow local .envrc overrides
[[ -f .envrc.local ]] && source_env .envrc.local
