{
  // "extends": ["next", "next/core-web-vitals"]
  "extends": ["next"],
  "plugins": [
    "react-hooks"
  ],
  "rules": {
    "react/display-name": "off",
    "react-hooks/rules-of-hooks": "error", // Checks rules of Hooks
    "react-hooks/exhaustive-deps": "warn" // Checks effect dependencies
  }
}
