@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  color: #BFBFBF;
  background-color: #0D0415;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


button:focus {
  outline: none !important;
}

/* input:focus {
  box-shadow: none !important;
  outline: none !important;
} */